<%-include("partials/header"); -%>
    <div class="container text-center " style="height:90vh;">



        <h1 class="mt-3">
            <%=title%>
        </h1>
        <form action="" method="post" class="form-floating text-start">
            <span>title</span>
            <input class="form-control" name="title" placeholder="Leave a comment here">

            <span>post</span>

            <textarea class="form-control" name="textdata" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height:100px">
            </textarea>

            <button type="submit" class="btn btn-primary mt-4">Primary</button>

        </form>

    </div>


    <%-include("partials/footer"); -%>