<%-include("partials/header"); -%>
    <div class="container text-start px-0 " style="height:90vh;">
        <h1>Get your own notes</h1>


        <div class="row">
       
                <div class="col-md-10 mx-auto border  border-dark rounded mt-4 px-6 ">
                    <h1>
                        <%=title%>
                    </h1>
                    <p>
                        <%=para%>
              
                    </p>

                </div>
                
        </div>



    </div>


    <%-include("partials/footer"); -%>